.bg-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('http://localhost:8081/admin/product/images/login3');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    
   
}

.spinner {
    display: none;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.alert {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.alert.show {
    transform: translateY(0);
}

.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
}

.password-toggle-icon {
    cursor: pointer;
    font-size: 1.2rem; /* Make the icon slightly larger */
    color: #6B7280; /* Gray-500 color */
}