.dropdown {
    position: relative;
}

/* .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    min-width: 12rem;
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
} */



 .dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: white;
    z-index: 1000;
   
} 

@media (max-width: 768px) {
    .mobile-menu {
        display: block;
    }

    .desktop-menu {
        display: none;
    }
}